<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lol2.Properties.Settings.tech_inspectorConnectionString"
            connectionString="server=localhost;User Id=root;password=1111;Persist Security Info=True;database=tech_inspector"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>